[nz-col]{
    background-color: white;
}

.container{
    padding:  1rem;
    .example{
        padding: 2rem;
        div:last-child{
            
        }
    }
    .graduate{
        margin-left: 3%;
        padding: 2rem;
    }
}