.container{
    padding: 1rem;
    div{
        padding: 2rem;
        background-color: white;
    }
    .example{
        button{
            margin: 5px;
        }
    }
    .custom{
        margin-left: 3%;
     
    }
}